@charset "utf-8";

html{
    background-image: url(road-night-markings-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin-left: 9%;
    margin-right: 9%;
   
    background-image: linear-gradient(#202020, #00000000, #202020),
                      url("sgt.jpg");

    background-size:cover;
    box-shadow: black 15px 10px 30px, black -15px 10px 30px;
}

#ttxt1{
    font-size: 50px;
    text-align: center;
    border-top: 30px solid white;
    border-bottom: 30px solid white;
  
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.75) 5px 5px 10px;

    margin-bottom: 0px;
    
    
    background-image: linear-gradient(#22264d , #ffffff8f );
}
.mainnav{
    float: left;
    text-align: center;
    width: 25%;
    
    padding-top: 10px;
    padding-bottom: 10px;
   
    list-style-type: none;

    background: radial-gradient(#308d1e , #1c3a19 55%); 
}
.mainnav a{ 
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.mainnav:hover{
    background: radial-gradient(#75d362 , #20631a 55%); 
}
.body2 h1{
    clear: both;
    margin: 10px;

    text-align: center;
    border: 1px solid white;
}
ul{ 
  padding: 0px;  
  margin: 0px;
}
.content{
    clear: both;
    text-align: center;
    padding: 10px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(51, 55, 75);
}

