@charset "utf-8";

html{
    background-image: url("bg4.png");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: sans-serif;
    color: white;
}
body{
    margin-left: 11%;
    margin-right: 11%;
}
.section1{
    font-size: 15px;
    text-align: center;
    font-weight: 900;
}
.section2{
    background-image: url("bg3.png");
    background-size:cover;
    padding: 20px;
    
}
.section2 h1{
    border: 3px solid white;
    border-radius: 10px;

    color: white;
    margin-left: auto;
    margin-right: auto;
  
    margin-bottom: 15px;
    padding: 10px;
    width: 20%;
    
    text-align: center;
}
.content{
    font-size: larger;
    margin: 60px;
}
h2{
    margin: 5px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
    background: #333;
    padding: 5px;
    width: 45%;
}
#aboutme{
    background: linear-gradient(0.25turn, rgb(255, 100, 0),rgb(0, 255, 125),rgb(150, 0, 255));
}
#projects{
    background: linear-gradient(0.25turn, rgb(0, 0, 129),rgb(0, 153, 255),rgb(37, 14, 92));
}
#resume{
    background: linear-gradient(0.25turn, rgb(0, 85, 25),rgb(0, 255, 34),rgb(34, 70, 0));
}
#terms{
    background: linear-gradient(0.25turn, rgb(78, 0, 0),rgb(255, 0, 0), rgb(78, 0, 23));
}
.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover { /* add transition */
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #04AA6D;
    color: white;
}